.timeline {
    position: relative;
    width: 80%;
    margin: 2em auto;
  }
  .contentLeft{
    position: relative;
    left: 0%!important;
  }
  .dateLeft{
    position: relative;
    left: 25%!important;
  }
  .contentRight,.dateRight{
    position: relative;
    left: 55%!important;
  }
  
  .timelineItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .timelineItem:last-child {
    margin-bottom: 0;
  }
  
  .timelineDot {
    height: 60px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
  }
  .timelineDate {
    font-size: 1rem;
    left: 55%;
    position: absolute;
    top: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .timelineContent {
    display: flex;
        flex-direction: column;
        gap: 12px;
        background: rgba(17, 25, 40, 0.83);
        color: rgb(255, 255, 255);
        box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-radius: 6px;
        margin-left: 0;
        padding: 1.5em;
        width: 44%;
  }
  
  .timelineContent h3 {
    color: rgba(242, 243, 244, 0.6);
    font-size: 18px;
  }
  
  .timelineContent h4 {
    font-size: 14px;
    color: rgba(177, 178, 179, 0.6);
  }
  
  .timelineContent .date {
    font-size: 12px;
    color: rgba(177, 178, 179, 0.5);
  }
  
  .timelineContent p {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 10px;

  }
  
  .timeline:before {
    background: #fff;;
    content: "";
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 4px;
    left: 50%;
        margin-left: -2px;
  }
  