
.typeWritter span{
    font-weight: 600;
    font-size: 32px;
    line-height: 68px;
    color: rgb(133, 76, 230);
}
.cursor{
    margin-left: 10px;
    background-color: rgb(133, 76, 230);
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}