.projectWrapper{
    background-color: #000;
}
.sectionHeader h2{
    font-size: 52px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(242, 243, 244);
}
.sectionHeader p{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: rgb(177, 178, 179);
}
.projectCard{
    width: 330px;
    height: 490px;
    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: hidden;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    transition: 0.5s ease-in-out;
    margin: 20px auto ;
}
.skillList{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}
.item{
    font-size: 12px;
    font-weight: 400;
    color: rgb(133, 76, 230);
    background-color: rgba(133, 76, 230, 0.082);
    padding: 2px 8px;
    border-radius: 10px;

}
.projectContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 2px;
}
.projectContent h6{
    font-size: 20px;
    font-weight: 600;
    color: rgb(177, 178, 179);
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.projectContent p{
    font-weight: 400;
    color: rgba(177, 178, 179, 0.6);
    overflow: hidden;
    margin-top: 8px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
}